<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="/static/css/global.css" />
    <script defer src="/static/script/index.js" type="module"></script>
    <title>ZELLCODE</title>
</head>

<body>
    <div class="body-box">
        <nav>
            <div class="logo">ZELLCODE</div>
            <div class="searchBar">
                <input type="text" id="search" placeholder="Search for posts" />
            </div>
            <span id="navbar_actions">
                <a href="">new post</a>
                <a  href="/auth" class="auth-box">register</a>
            </span>
        </nav>
        <main>
            <div class="left-sideBar">
            </div>
            <div class="container">
                <div class="filtring-box">
                    <div class="filter">
                        <select name="filter" id="filter">
                            <option value="new">New</option>
                            <option value="top">Top</option>
                            <option value="hot">Hot</option>
                        </select>
                    </div>
                </div>
                <div class="posts">
                    <div class="post">
                        <div class="post-header">
                            <div class="post-author">Author</div>
                            <div class="creation-date">
                                <span>Creation date</span>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-title">
                                <h4>Post title</h4>
                            </div>
                            <div class="post-content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi maxime repudiandae dolores? Rerum unde, beatae, ex pariatur, illo ut nesciunt natus eius inventore consectetur necessitatibus molestias ullam voluptate sunt impedit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima architecto culpa, asperiores exercitationem iste expedita recusandae sed saepe quibusdam sunt dicta! Quas modi quo, asperiores et quae sunt sint?
                            </div>
                            <div class="post-actions">
                                <span class="like"><i class="fi fi-rr-heart"></i> <count>22</count></span>
                                <span class="dislike"><i class="fi fi-rr-heart-crack"></i><count>12</count></span>
                                <span class="comment"><i class="fi fi-rr-comment"></i>Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-header">
                            <div class="post-author">created by: simo</div>
                            <div class="creation-date">
                                <span>Creation date</span>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-title">
                                <h4>Post title</h4>
                            </div>
                            <div class="post-content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi maxime repudiandae dolores? Rerum unde, beatae, ex pariatur, illo ut nesciunt natus eius inventore consectetur necessitatibus molestias ullam voluptate sunt impedit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima architecto culpa, asperiores exercitationem iste expedita recusandae sed saepe quibusdam sunt dicta! Quas modi quo, asperiores et quae sunt sint?
                            </div>
                            <div class="post-actions">
                                <span class="like"><i class="fi fi-rr-heart"></i> <count>22</count></span>
                                <span class="dislike"><i class="fi fi-rr-heart-crack"></i><count>12</count></span>
                                <span class="comment"><i class="fi fi-rr-comment"></i>Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-header">
                            <div class="post-author">Author</div>
                            <div class="creation-date">
                                <span>Creation date</span>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-title">
                                <h4>Post title</h4>
                            </div>
                            <div class="post-content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi maxime repudiandae dolores? Rerum unde, beatae, ex pariatur, illo ut nesciunt natus eius inventore consectetur necessitatibus molestias ullam voluptate sunt impedit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima architecto culpa, asperiores exercitationem iste expedita recusandae sed saepe quibusdam sunt dicta! Quas modi quo, asperiores et quae sunt sint?
                            </div>
                            <div class="post-actions">
                                <span class="like"><i class="fi fi-rr-heart"></i> <count>22</count></span>
                                <span class="dislike"><i class="fi fi-rr-heart-crack"></i><count>12</count></span>
                                <span class="comment"><i class="fi fi-rr-comment"></i>Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-header">
                            <div class="post-author">Author</div>
                            <div class="creation-date">
                                <span>Creation date</span>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-title">
                                <h4>Post title</h4>
                            </div>
                            <div class="post-content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi maxime repudiandae dolores? Rerum unde, beatae, ex pariatur, illo ut nesciunt natus eius inventore consectetur necessitatibus molestias ullam voluptate sunt impedit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima architecto culpa, asperiores exercitationem iste expedita recusandae sed saepe quibusdam sunt dicta! Quas modi quo, asperiores et quae sunt sint?
                            </div>
                            <div class="post-actions">
                                <span class="like"><i class="fi fi-rr-heart"></i> <count>22</count></span>
                                <span class="dislike"><i class="fi fi-rr-heart-crack"></i><count>12</count></span>
                                <span class="comment"><i class="fi fi-rr-comment"></i>Comment</span>
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-header">
                            <div class="post-author">Author</div>
                            <div class="creation-date">
                                <span>Creation date</span>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="post-title">
                                <h4>Post title</h4>
                            </div>
                            <div class="post-content">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque dicta autem vel ipsum quis, sed perferendis facere recusandae eius voluptas nesciunt quidem fuga nisi ab aliquam? Dolor quo eum quae?
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium illum repellendus ratione, ad vitae ducimus suscipit exercitationem. Nulla temporibus culpa mollitia sit provident enim laudantium quidem voluptatem! Nesciunt, accusantium nostrum.
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi maxime repudiandae dolores? Rerum unde, beatae, ex pariatur, illo ut nesciunt natus eius inventore consectetur necessitatibus molestias ullam voluptate sunt impedit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima architecto culpa, asperiores exercitationem iste expedita recusandae sed saepe quibusdam sunt dicta! Quas modi quo, asperiores et quae sunt sint?
                            </div>
                            <div class="post-actions">
                                <span class="like"><i class="fi fi-rr-heart"></i> <count>22</count></span>
                                <span class="dislike"><i class="fi fi-rr-heart-crack"></i><count>12</count></span>
                                <span class="comment"><i class="fi fi-rr-comment"></i>Comment</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-sideBar">
            </div>
        </main>
    </div>
</body>

</html>