<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/global.css">
    <title>Login</title>
</head>
<body>
    <div id="login" class="login" for="loginform">
        <div class="login-content">
            <h2>welcome back dragon</h2>
            <form action="api/login" method="post" >
                <label for="Username">User name</label>
                <input type="text" class="input" id="Username" name="username" placeholder="Email">
                <label for="password">Password</label>
                <input type="password" class="input" id="password" name="password" placeholder="Password">
                <input type="submit" class="submit" value="Sign in">
            </form>
            <div
                class="new-acount" id="new-acount">are you new ? <a href="/register"> become a dragon</a>
            </div>
        </div>
    </div>
</body>
</html>