<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing up</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="suwep">
      <div class="sign-uwep">
        <h2>Sing-up to <span>Forum</span></h2>
        <form action="/api/register" method="post">
            <label for="userName">User name</label>
            <input type="text" name="username" id="userName" placeholder="User name">
            <label for="Email">Email</label>
            <input type="email" name="email" id="Email" placeholder="Email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"placeholder="password">
            <label for="confermpassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confermpassword"placeholder="confirm password">
                <span> 
                    <label for="checkBox"></label>
                    <input type="checkbox" name="checkBox" id="checkBox">
                    agree to the Privacy
                </span>
            <div class="Privacy-agree">
                By creating an account, I agree to forum <a href="">Terms of Service</a>,
                <a href="">Privacy Policy</a> and <a href="">Intellectual Property Rights</a>
            </div>
            <label for=""></label>
            <input type="submit" value="submit">
        </form>
      </div>
    </div>
</body>
</html>